<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.assignment_2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ASSIGNMENT_2">
        <activity android:name=".Q7CalculatorActivity"></activity>
        <activity android:name=".Q6WebsiteInvokeActivity" />
        <activity android:name=".Q5StringConvertActivity" />
        <activity android:name=".Q4LifecycleActivity" />
        <activity android:name=".Q3WelcomeActivity" />
        <activity android:name=".Q3LoginActivity" />
        <activity android:name=".Q3SplashScreenActivity" />
        <activity android:name=".Q2SecondActivity" />
        <activity android:name=".Q2StudentInfoActivity" />
        <activity android:name=".Q1CalcActivity" />
        <activity android:name=".SplashScreenActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>